/* === Базовые стили === */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'JetBrainsMono', Arial, sans-serif;
    background-color: #231C2C;
    color: #e0e0e0;
    line-height: 0;
    margin: 0;
    padding: 0;
}

/* === Заголовки === */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #ffffff;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

/* === Блок кода === */
pre {
    background-color: #0d1117 !important;
    color: #e6edf3 !important;
    padding: 0px;
    border-radius: 6px;
    border: 1px solid #30363d !important;
    overflow-x: auto;
    margin: 1em 0;
    font-family: 'Fira Code', monospace;
    font-size: 0.8rem;
    line-height: 1.4;
    position: relative;
}

/* === Таблицы === */
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1em;
    border-radius: 6px;
}

th, td {
    border: 1px solid #30363d; 
    padding: 10px;
    color: #e0e0e0;
}

/* === Верхняя панель === */
.md-header {
    background-color: transparent !important;
    box-shadow: none !important;
    position: flex;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 60px;
    left: 0;
    right: 0;
    backdrop-filter: blur(10px);
}

.md-header__inner {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center;
    max-width: 100% !important;
    margin: 0 auto;
    padding: 0 1rem;
}

.md-header__title {
    display: flex;
    align-items: center;
    margin: 0 !important;
}

/* === Табы === */
.md-tabs {
    display: flex !important;
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    width: 100%;
    position: relative;
    z-index: 999;
}

.md-tabs__link {
    padding: 0.5rem 1rem !important;
    border-radius: 20px;
    color: #e0dede !important;
    display: block !important;
    margin: 0;
    transition: all 0.25s ease-in-out;
}

.md-tabs__link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    color: #A379DF !important;
}

/* === main === */
.md-main {
    display: block; 
    min-height: 100vh;
    box-sizing: border-box;
}

.md-content {
    margin-left: 170px;    
    margin-right: 170px;   
    background-color: transparent;
}

/* ===Cайдбар === */
.md-sidebar {
    position: fixed;                              
    height: calc(100vh - 50px);               
    width: 360px;                              
    overflow-y: 0;                          
    background-color: transparent;
    z-index: 10;
}

.md-sidebar--primary {
    left: 0;
}

.md-sidebar--secondary {
    right: 0;
}

.md-sidebar--primary .md-nav__link--active {
    background-color: none;
    color: #A379DF !important;
    box-shadow: none;
}

.md-sidebar--primary .md-nav__link:hover:not(.md-nav__link--active) {
    transform: translateX(10px);
}

.md-sidebar--secondary .md-nav__link:hover:not(.md-nav__link--active) {
    transform: translateX(-10px);
}

.md-sidebar__scrollwrap {
  position: flex;
  height: 90vh !important;
}

.md-nav__title {
    color: #c0c0c0 !important;
    font-weight: 700 !important;
    background-color: transparent !important;
}

.md-nav__link {
    padding: 10px 15px !important;
    border-radius: 6px !important;
    color: #c0c0c0 !important;
    background-color: transparent !important;
    text-decoration: none !important;
    transition: transform 0.25s ease, background-color 0.25s ease, box-shadow 0.25s ease;
    will-change: transform, background-color, box-shadow;
}

.md-nav__container{
    background-color: #231C2C !important;
}
.md-nav__link:hover {
    background-color: rgba(255, 255, 255, 0.1) !important; 
}

.md-nav__container:hover,
.md-nav__container:focus {
    background-color: transparent !important;
}

.md-nav__toggle:checked + .md-nav__link,
label:focus {
    box-shadow: none !important;
}

.md-nav--secondary .md-nav__title {
    box-shadow: none !important;
}

/* === Изображения === */
img {
    max-width: 100%;
    border-radius: 6px;
    transition: transform 0.2s ease;
}

img:hover {
    transform: scale(1.02);
}



